.mdl-layout__drawer-button .material-icons {
  line-height: 2;
}

iframe {
  border: none;
}

.mdl-layout__header {
  .mdl-layout-title {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.mdl-layout__content {
  display: flex;
  height: calc(~"100vh - 64px");
  > div > iframe {
    height: 100%;
    width: 100%;
  }
  .nav {
    width: 200px;
    z-index: 1;
  }
  .container {
    flex: 1;
    z-index: 0;
  }
}

iframe[name='frmTitle'] {
    display: none;
}
