body{
  &.no-scroll {
    overflow: hidden;
  }

  .statusbar {
    display: none;
  }
}
h1 {
  font-size: 2em;
}

#buttons {
  text-align: center;
}

.mdl-dialog {
  width: 90%;
  .mdl-dialog__content {
    max-height: calc(~"100vh - 220px");
    overflow: auto;
  }
}

#divTestList,
#divCrsList {
  width: 100%;
  height: auto !important;
  table {
    width: 100%;
  }
}

table#tblSchedule {
  width: 90%;
}

